* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.card {
    width: 100%;
    height: 100vh;
    background: darkcyan;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    background: rgba(28, 28, 128, 0.633);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.calculator form .button {
    width: 60px;
    height: 60px;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: rgba(255, 255, 255, 0.967);
    font-size: 20px;
    cursor: pointer;
    margin: 2px;
}

.calculator form #screen {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
    width: 270px;
}

.calculator form #screen  {
    text-align: right;
    text-decoration-color: black;
    flex: 1;
    font-size: 40px;
    background: rgba(53, 200, 105, 0.726);
}

form #equal {
    height: 125px;
    float: right;
    
}

.box{
    padding: 3px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: large;
    font-style:oblique;
}
.stylish{
    box-sizing: border-box;
    width: 115px;
    border-radius: 88px;
    background-color:rgb(95 251 255 / 69%)
    
}